[Unit]
Description = Paketbote Web

[Service]
ExecStart = /home/alarm/pacman/target/release/web
User = alarm
Group = alarm
WorkingDirectory = /home/alarm/pacman
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target

