.container {
    margin-top: 1em;
}

pre {
    border-left: 3px solid #155724;
    padding: 0.3em 0.3em 0.3em 0.7em;
    color: #155724;
    background-color: #d4edda;
}

* {
    text-decoration-color: #9E9E9E;
}

a, button.bt-link {
    display: inline;
    border: none;
    background: none;
    width: auto;
    text-decoration: none;
    color: #0D47A1;
    padding: 0;
    margin: 0;
}

a:hover, button.bt-link:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

button.delete-confirm {
    color: #F00;
}

table {
    width: 100%;
}

table th {
    text-align: left;
}

table tr:hover td {
    text-decoration-line: underline;
}

table.packages td:first-child {
    width: 100%;
}

table.search-results td:nth-child(2) {
    width: 100%;
}

table td {
    padding: 1px 4px;
}

.inactive {
    opacity: 0.4;
}

.text-center {
    text-align: center;
}
