[Unit]
Description = Paketbote Sync Pacman DBs

[Service]
Type = oneshot
ExecStart = /usr/bin/pb-sync-pacman-dbs
Slice = system-paketbote.slice
User = paketbote
Group = paketbote
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=10

NoNewPrivileges = true
ProtectSystem = full
ProtectHome = true
PrivateTmp = true
PrivateDevices = true
ReadOnlyPaths = /
ReadWritePaths = /var/lib/paketbote/pacman-db
PrivateUsers = true
ProtectClock = true
ProtectKernelTunables = true
ProtectKernelModules = true
ProtectKernelLogs = true
ProtectControlGroups = true
MemoryDenyWriteExecute = true
RestrictRealtime = true
RestrictSUIDSGID = true
