[Unit]
Description = Paketbote Check AUR Versions

[Service]
Type = oneshot
ExecStart = /usr/bin/pb-check-aur-versions
Slice = system-paketbote.slice
User = paketbote
Group = paketbote
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=60

NoNewPrivileges = true
ProtectSystem = full
ProtectHome = true
PrivateTmp = true
PrivateDevices = true
ReadOnlyPaths = /
PrivateUsers = true
ProtectClock = true
ProtectKernelTunables = true
ProtectKernelModules = true
ProtectKernelLogs = true
ProtectControlGroups = true
MemoryDenyWriteExecute = true
RestrictRealtime = true
RestrictSUIDSGID = true
