[Unit]
Description = Paketbote Sync Pacman DBs

[Service]
Type = oneshot
ExecStart = /usr/bin/pb-sync-pacman-dbs
User = alarm
Group = alarm
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=10
