[Unit]
Description = Paketbote Check AUR Versions

[Service]
Type = oneshot
ExecStart = /usr/bin/pb-check-aur-versions
User = alarm
Group = alarm
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=60
