[Unit]
Description = Paketbote Check Deps Worker

[Service]
ExecStart = /usr/bin/pb-worker-check-deps
User = paketbote
Group = paketbote
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target

