[Unit]
Description = Paketbote Repo Action Worker

[Service]
ExecStart = /usr/bin/pb-worker-repo-action
User = alarm
Group = alarm
WorkingDirectory = /var/lib/paketbote
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target

