{% extends "base" %}
{% block content %}
<h1>create account</h1>
<form action="/create-account" method="post">
    <label for="username">username</label>
    <input id="username" name="username" type="text" />
    <label for="password">password</label>
    <input id="password" name="password" type="password"/>
    <button>create account</button>
</form>
{% endblock content %}
