{% extends "base" %}
{% block content %}
<h1>login</h1>
<form action="/login" method="post">
    <label for="username">username</label>
    <input id="username" name="username" type="text" />
    <label for="password">password</label>
    <input id="password" name="password" type="password"/>
    <button>login</button>
</form>
{% endblock content %}
